{
    box-sizing: border-box;
}

html{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    min-height: 100vh;
    margin: 0;
    padding: 24px;
    background-color: rgb(87, 165, 165);
}

main{
    max-width: 800px;
    margin: 24px auto;
    padding: 10px;
    text-align: left;
}

section{
    border-radius: 8px;
    background: linear-gradient(to bottom right, #ddd, #fff);
    box-shadow: 5px 5px 10px #000;
    padding: 12px;
    margin: 12px;
}
 

fieldset{
    border: none;
    text-align: center;
}

label, input{
    text-align: start;
    display: block;
    padding: 4px;
    margin: 4px auto;
    width: 100%;
    max-width: 400px;
}